{% extends "student.html" %}
{% block maincontent %}
<h1>{{courseid}}</h1>

<table class="table table-hover table-bordered" style="width:100%">
		<tr>
			<th>Type</th>
			<th>Title</th>
			<th>Link</th>
			<th>Submission</th>
		</tr>
		{%	for r in resources %}
		<tr>
			<form action="/student/courses" method="POST">
			<td>{% if r.resource_type %} Assignment {% else %} Resource {% endif %}</td>
			<td>{{ r.resource_title }}<input type="hidden" name="link" value={{ r.key.urlsafe }}></td>
			<td><input type="submit" name="download" class="btn btn-default" value="Download"></td>
			</form>
			<form name="input" action={{ upload_url }} method="POST" enctype="multipart/form-data">
			<td ><input type="hidden" name="link" value={{ r.key.urlsafe }}>{% if r.resource_type %}<input type="file" name="file" /><input type="submit" name="upload"  class="btn btn-default" value="Upload submission"> {% endif %}</td>
			</form>
		</tr>
		{% endfor %}
		</table>

{% endblock %}
