{% extends "student.html" %}

{% block title %}Personal Info{% endblock %}

 {% block maincontent %}
 
 
 <h1>Edit personal information</h1>
<form action="/student/info" method="POST">

<div class="form-group">
<label for="username">Username</label>
<input type="text" class="form-control" name="username" value={{ userid }} readonly /><br />
</div>
<div class="form-group">
<label for="email">Email address</label>
<input type="text" class="form-control" name="email" value={{ user_data.email_address }} /><br /></div>

<div class="form-group">
<label for="name">Name</label>
<input type="text"class="form-control" name="name" value={{ user_data.name }} /><br />
</div>
<div class="form-group">
<label for="lastname">Last Name</label>
<input type="text" class="form-control" name="lastname" value={{ user_data.last_name }} /><br /></div>

<div class="form-group">
<label for="department">Department</label>
<input type="text" class="form-control" name="department" value={{ user_data.department }} readonly /><br />
</div>
<div class="form-group">
<label for="credits">Credits available</label>
<input type="text" class="form-control" name="credits" value={{ student_data.credits }} readonly /><br />
</div>

<div class="form-group">
<label for="role">Role</label>
<input type="text" class="form-control" name="role" value="Student" readonly /><br />
</div>

<input type="submit" class="btn btn-default" value="Save information" />
</form>


    {% endblock %}



