{% extends "faculty.html" %}

{% block title %}Personal Info{% endblock %}

{% block maincontent %}

<h1>Edit personal information</h1>
<form action="" method="POST">
<label for="email">Email address</label>
<input type="text" name="email" /><br />



<label for="department">Department</label>
<input type="text" name="department" /><br />

<label for="name">Name</label>
<input type="text" name="name" /><br />
<label for="lastname">Last Name</label>
<input type="text" name="lastname" /><br />
<label for="webpage">Webpage</label>
<input type="text" name="webpage" /><br />
<input type="submit" value="Save information" />
</form>

{% endblock %}
