{% extends "faculty.html" %}

{% block maincontent %}

<h1>Requests</h1>

<table class="table table-hover table-bordered" style="width:100%">
		<tr>
			<th>Request</th>
			<th>Course</th>
			<th>Student</th>
			<th>Content</th>
			<th>Respond</th>
		</tr>
		{% for type,student,cont,course in requests %}
		<tr>
			<form action="/faculty/requests" method="POST">
			<td>{% if type %}<input type="text" class="form-control" name="type" value="Approval" readonly> {% else %} <input type="text" name="type" value="Relaxation" readonly> {% endif %}</td>
			<td>{% if type %} <input type="text" class="form-control" name="course" value={{ course }} readonly> {% endif %}</td>
			<td><input type="text" class="form-control" name="student" value={{ student }} readonly></td>
			<td><input type="text" class="form-control" name="content" value="{{ cont }}" readonly></td>
			<td><input type="submit" class="btn btn-default" name="approve" value="Approve request" /></td>
			</form>
		</tr>
		{% endfor %}
		</table>



{% endblock %}
