{% extends "faculty.html" %}
{% block title %}
<h1 align="center">{{courseid}}</h1>
{% endblock %}
{% block maincontent %}

<table class="table table-hover table-bordered" style="width:100%">
		<tr>
			<th>Student ID</th>
			<th>Submission</th>
		</tr>
		{%	for stud_id in stud_ids %}
		<tr>
			<form name="input" action={{ upload_url }} method="POST" enctype="multipart/form-data">
			<td>{{stud_id}}</td>
			<td><input type="submit" class="btn btn-default" name="download" value="Download"></td>
			</form>
		</tr>
		{% endfor %}
		</table>

{% endblock %} 
