{% extends "admin.html" %}

{% block title %}Register a new user{% endblock %}

{% block maincontent %}

<h1>Create a new department</h1>
<form action="/admin/addDepartment" method="POST" class="form-horizontal">

<div class="form-group">
<label for="dep_id">Department id</label>
<input type="text" class="form-control" name="dep_id" />
</div>
<div class="form-group">
<label for="name">Department name</label>
<input type="text" class="form-control"  name="name" />
</div>
<div class="form-group">
<label for="hod">HOD</label>
<input type="text" class="form-control"  name="hod" />
</div>

<input type="submit" class="btn btn-default" value="Create new department" />

</form>

{% endblock %}
