<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Web Academic System{% endblock %}</title>
    <style>
      input {
        display: block;
      }
    </style>
  </head>

<body>
<table width="100%" border="0">
    <td colspan="2" bgcolor="#b5dcb3" align="center">
      <h1>Academic System</h1>
    </td>
  <tr valign="top">
    <td bgcolor="#aaa" width="300" align="center">
      <b>Main Menu</b><br />
          Logged in as <span style="background-color: OldLace">{{ user.name }}</span> | <a href="/logout">Logout</a>
      <br />
<a href="/admin/signup">Add/Delete User</a><br />
<a href="/admin/floatCourse">Add/Float Course</a><br />
<a href="/admin/addDepartment">Add/Edit Department</a><br />
<a href="/admin/info">Personal Information</a><br />
<a href="/admin/resources">Add/Modify Resources</a>
<br><b>{{ current_sem }}</b></br>
  <form action=""  method="POST">
    <input type="submit" name="myform" value="Start new semester" />
    
    <form action="" method="POST">
  <input type="radio" name="reg" value="open">Open<br>
  <input type="radio" name="reg" value="closed">Closed
  </form>




    </td>
    <td bgcolor="#eee" height="550">
        {% block maincontent %}
        
		{% endblock %}
    </td>
  </tr>
	</table>
	
	</body>
</html>

