{% extends "admin.html" %}
{% block title %}Add/Float a course{% endblock %}
{% block maincontent %}

<h1>Add/Update a course</h1>
<form action="/admin/floatCourse" method="POST" class="form-horizontal">
<div class="form-group">
<label for="course_id">Course id</label>
<input type="text" class = "form-control"  name="course_id" />
</div>

<div class="form-group">
<label for="name">Name</label>
<input type="text" class = "form-control"  name="name" />
</div>

<div class="form-group">
<label for="department">Department</label><br />
<select name="dep_id">
{% for d in dep%}
  <option value={{ d.key.urlsafe }}>{{ d.name }}</option>
{%endfor%}
</select><br />
</div>
</select><br />

<div class="form-group">
<label for="credits">Credits</label>
<input type="float" class = "form-control"  name="credits" />
</div>

<label for="prereq1">Pre requisite 1</label>
<select name="prereq1">
  <option value="">--Select course--</option>

{% for c in courses%}
  <option value={{ c.key.urlsafe }}>{{ c.name }}</option>
{%endfor%}
</select><br />

<label for="prereq2">Pre requisite 2</label>
<select name="prereq2">
  <option value="">--Select course--</option>

{% for c in courses%}
  <option value={{ c.key.urlsafe }}>{{ c.name }}</option>
{%endfor%}
</select><br />

<label for="prereq3">Pre requisite 3</label>
<select name="prereq3" >
  <option value="">--Select course--</option>

{% for c in courses%}
  <option value={{ c.key.urlsafe }}>{{ c.name }}</option>
{%endfor%}
</select><br />

<label for="prereq4">Pre requisite 4</label>
<select name="prereq4">
  <option value="">--Select course--</option>

{% for c in courses%}
  <option value={{ c.key.urlsafe }}>{{ c.name }}</option>
{%endfor%}
</select><br />

<div class="form-group">
<label for="description">Course Description</label>
<textarea name="description" class="form-control" rows="3" cols="60"></textarea>
</div>

<input type="submit" name="myform" class="btn btn-default" value="Update course">

<h1>Float a course</h1>
<form action="/admin/floatCourse"  method="POST">

<label>Course</label>
<select name="course_id2">
{% for c in courses%}
  <option value={{ c.key.urlsafe }}>{{ c.name }}</option>
{%endfor%}
</select><br />

<label>Faculty</label>
<select name="faculty_id">
{% for f in fac%}
  <option value={{ f.key.urlsafe }}>{{ f.name }}</option>
{%endfor%}
</select><br />

<input type="submit" name="myform" class="btn btn-default" value="Float the course" />

{% endblock %}
