{% extends "admin.html" %}

{% block title %}Add/Delete resources{% endblock %}

{% block maincontent %}

<h1>Add/Edit resource</h1>
<form name="input" action={{ upload_url }} method="POST" enctype="multipart/form-data">
<label for="resource_title">Enter resource title</label>
<input type="text" name="resource_title" />
<label for="resource_file">Upload resource</label>
<input type="file" name="file" />
<input type="submit" name="submit" value="Submit">

</form>

<h1>Download a resource</h1>
<form action="/admin/view_resource" method="POST">
<label for="title">Resource Title</label>

<select name="title">
{% for r in resources%}
  <option value={{ r.key.urlsafe }}>{{ r.resource_title }}</option>
{%endfor%}
</select><br />

<input type="submit" value="Download resource" />

{% endblock %}
