{% extends "admin.html" %}

{% block title %}Add/Delete a user{% endblock %}

{% block maincontent %}

<h1>Register a new user</h1>
<form action="/admin/signup" method="POST">
<label for="username">Username</label>
<input type="text" name="username" /><br />
<label for="email">Email address</label>
<input type="text" name="email" /><br />
<label for="password">Password</label>
<input type="password" name="password" /><br />
<label for="name">Name</label>
<input type="text" name="name" /><br />
<label for="lastname">Last Name</label>
<input type="text" name="lastname" /><br />
<label for="department">Department</label>
<input type="text" name="department" /><br />
<label for="role">Role</label>
<input type="text" name="role" /><br />
<input type="submit" value="Create user" />
</form>

<h1>Delete an existing user</h1>
<form action="/removeUser" method="POST">
<label for="username">Username</label>
<input type="text" name="username" /><br />
<input type="submit" value="Delete user" />

{% endblock %}
