<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Web Academic System{% endblock %}</title>
    <style>
      input {
        display: block;
      }
    </style>
        <meta charset="utf-8">
    <link href="stylesheets/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
  </head>

<body>



<div class="login-form">
  <div class="head">
    <img src="images/IIT_Delhi_logo.jpg" alt="" />
  </div>
  <form class="form" action= "/login" method="POST">
  {% if failed %}

    <strong>Login failed!</strong> Check your credentials and try again.

{% endif %}
    <li>
  	<input type="text" class="text" value="USERNAME" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'USERNAME';}" name="username"/>
    </li>
    <li>
  	<input type="password" class="text" value="PASSWORD" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" />
    </li>

    <div class="p-container">
  	<button type="submit"  value="SIGN IN" class="btn">Login</button>
    <br />
    <p><a href="/forgot">Forgot password</a></p>

    <div class="clear"> </div>
    </div>
  </form>

</div>


        
      
</body>
</html>

